@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn {
  box-shadow: none!important;
  padding: 11px 0.75rem;
  font-weight: 700;
  font-size: 12px;

  .icon {
    &-prepend {
      margin-right: 10px;
    }

    &-append {
      margin-left: 10px;
    }
  }

  span,
  &:not(.btn-action) i {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
  }
}

.btn-light {
  color: $gray-600;
  border-color: $gray-200;
}


.btn-action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 14px;

  i {
    font-size: inherit;
  }
}
