.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-row {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  padding-top: $content-top-offset;
  padding-left: $sidebar-width;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  flex-shrink: 0;
  width: $sidebar-width;
  z-index: 2;
}

.page-content {
  flex: 1 1 auto;
  min-width: 0px;
}

.container-fluid {
  padding-left: $content-gutter;
  padding-right: $content-gutter;
}
